Body {
    width: 95%;
    margin: 15px auto;
    background-image: right;
    background-repeat: repeat-y;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 90%;
    background-color: wheat;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 2px solid black;
    border-radius: 25px ;
    box-shadow: 5px 5px 0 0;
    background-image: url("../images/KAPSI.jpeg");

}

article{
    width: 75%;
}

aside{
    width: 20%;
    background-attachment: fixed;
    list-style: ;
}