html{
background-image: linear-gradient(to left, white(203, 49, 11, 0.694) 0%, white#a03024 100%);
}
header{
clear: both; border-bottom: 2px solid crimson
}
#nav_menu ul {
list-style-type: none;
}
#nav_menu ul li {
float: left;
}
#nav_menu ul li a {
text-align: center;
display: block;
width: 175px;
padding: 1em 0;
text-decoration: none;
background-color: crimson;
color: wheat;
font-weight: bold;
border-right: 2px solid white;
border-bottom: solid crimson;
}
#nav_menu ul li a.lastitem {
border-right: none;
}
#nav_menu ul li a.current {
color: rgb(32, 11, 19);
}
body{
font-family: Arial, Helvetica, sans-serif;
font-size: 100%;
width: 95%;
background-color:  wheat;
margin: 70px auto rgb(172, 104, 2);
padding: 15px 1.5em;
border: 2px solid white;
border-radius: 25px 25px 25px 25px;
box-shadow: 5px 5px 0 0;
background-image:url(/images/KAPSI.jpeg);
background-position: right;
background-repeat: repeat-y;
background-attachment: fixed;
}
a:focus,
a:hover{
font-style: italic;
color:crimson;
border: 3px coral;
border-style: dotted solid;
}h1 {
border-top: solid crimson;
font-size: 95%;
color: crimson;
text-indent: 30px;
column-span: all;
}
h2 {
font-size: 130%;
color: crimson;
text-indent: 30px;
}
img {
float: left;
margin-left: 2em;
}
.shadow {
text-shadow: 2px 2px 2px rgb(220, 0, 0);
}
article {
clear: left;
width: 70%;
float: left;
column-count: 3;
column-rule: 2px dashed crimson;
column-gap: 2em;
margin-left: 2em;
}
article h3 {
column-span: all;
}
article img {
float: left;
margin-right: 1em;
margin-bottom: 1em;
}
article p::first-letter {
font-size: 3em;
font-weight: bold;
font-style: italic;
color: black;
}
aside {
width: 20%;
float: right;
background-color: tan;
padding: 15px;
list-style-position: outside;
}
aside ol {
list-style-type: upper-roman;
}
aside ul {
list-style-type: disc;
}
aside ol[type="a"] {
list-style-type: lower-alpha;
}
aside a {
text-decoration: none;
color: crimson;
}
aside a:hover {
color: crimson;
}
footer {
text-align: center;
clear: both;
border-top: crimson solid;
}
p.fixed {
width: auto;
position: fixed;
background-color: rgba(203, 49, 11, 0.694);
bottom: 150px;
right: 20px;
border: 4px solid crimson;
padding: 30px;
box-shadow: 2px 2px 5px crimson;
font-weight: bold;
border-radius: 5px;
}

